In [1]:
import pandas as pd

df = pd.read_csv('2024_medalists_all.csv')

In [2]:
df.columns.to_list()

['medalist_wikidata_id',
 'medalist_link',
 'medalist_name',
 'medal',
 'delegation_wikidata_id',
 'delegation_link',
 'delegation_name',
 'country_medal_wikidata_id',
 'country_medal',
 'country_medal_code2',
 'country_medal_code3',
 'country_medal_ioc_country_code',
 'country_medal_NUTS_code',
 'date_of_birth',
 'place_of_birth_wikidata_id',
 'place_of_birth',
 'place_of_birth_located_in_wikidata_id',
 'place_of_birth_located_in',
 'place_of_birth_coordinates',
 'lat',
 'lon',
 'sex_or_gender_wikidata_id',
 'sex_or_gender',
 'event_wikidata_id',
 'event_link',
 'event_name',
 'event_part_of_wikidata_id',
 'event_part_of',
 'event_sport_wikidata_id',
 'event_sport',
 'event_part_of_sport_wikidata_id',
 'event_part_of_sport',
 'sport_wikidata_id',
 'sport',
 'nuts1_id',
 'nuts1_name',
 'nuts2_id',
 'nuts2_name',
 'nuts3_id',
 'nuts3_name',
 'nuts2_population',
 'nuts3_population',
 'nuts2_gdp',
 'nuts3_gdp',
 'nuts0_id',
 'nuts0_name']

In [3]:
medalists = df[['medalist_name',
                'medal',
                'country_medal',
                'date_of_birth',
                'place_of_birth',
                'lat',
                'lon',
                'sex_or_gender',
                'event_name',
                'event_part_of_sport']]

In [4]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery at the 2024 Summer Olympics – Men's in...,archery
1,Brady Ellison,silver,United States of America,27/10/1988,Glendale,33.583333,-112.200000,male,Archery at the 2024 Summer Olympics – Men's in...,archery
2,Lee Woo-seok,bronze,South Korea,07/08/1997,Incheon,37.463889,126.648611,male,Archery at the 2024 Summer Olympics – Men's in...,archery
3,Kim Je-deok,gold,South Korea,12/04/2004,North Gyeongsang,36.250000,128.750000,male,Archery at the 2024 Summer Olympics – Men's team,archery
4,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery at the 2024 Summer Olympics – Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,23/03/2003,Tokyo,35.689444,139.691667,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2198,Yuka Kagami,gold,Japan,14/09/2001,Yamagata,38.255417,140.339611,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2199,Kennedy Blades,silver,United States of America,04/09/2003,NaN,NaN,NaN,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2200,Milaimys Marín,bronze,Cuba,16/03/2001,NaN,NaN,NaN,female,wrestling at the 2024 Summer Olympics – women'...,wrestling
2201,Tatiana Rentería,bronze,Colombia,22/12/2000,Buenaventura,3.877222,-77.026667,female,wrestling at the 2024 Summer Olympics – women'...,wrestling

### The event_name contains 'at the 2024 Summer Olympics –', this is redundant and can be removed.

In [5]:
remove_string = 'at the 2024 Summer Olympics –'

medalists['event_name'] = medalists['event_name'].str.replace('at the 2024 Summer Olympics – ', '', regex=False)

C:\Users\44771\AppData\Local\Temp\ipykernel_24036\1187818442.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medalists['event_name'] = medalists['event_name'].str.replace('at the 2024 Summer Olympics – ', '', regex=False)

In [6]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's individual,archery
1,Brady Ellison,silver,United States of America,27/10/1988,Glendale,33.583333,-112.200000,male,Archery Men's individual,archery
2,Lee Woo-seok,bronze,South Korea,07/08/1997,Incheon,37.463889,126.648611,male,Archery Men's individual,archery
3,Kim Je-deok,gold,South Korea,12/04/2004,North Gyeongsang,36.250000,128.750000,male,Archery Men's team,archery
4,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,23/03/2003,Tokyo,35.689444,139.691667,female,wrestling women's freestyle 68 kg,wrestling
2198,Yuka Kagami,gold,Japan,14/09/2001,Yamagata,38.255417,140.339611,female,wrestling women's freestyle 76 kg,wrestling
2199,Kennedy Blades,silver,United States of America,04/09/2003,NaN,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2200,Milaimys Marín,bronze,Cuba,16/03/2001,NaN,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2201,Tatiana Rentería,bronze,Colombia,22/12/2000,Buenaventura,3.877222,-77.026667,female,wrestling women's freestyle 76 kg,wrestling

### Replace all Null values with 'Unknown' for now as we don't want to drop entire rows yet.

In [7]:
medalists = medalists.fillna('Unknown')

### However, the null values in 'event_part_of_sport' can be filled in if we know the 'event_name'.

In [8]:
missing_part_of_sport = medalists[medalists['event_part_of_sport']=='Unknown'][['event_name','event_part_of_sport']]

In [9]:
medalists['event_name'].unique()

array(["Archery Men's individual", "Archery Men's team",
       "Archery Women's individual", "archery women's team",
       'Archery Mixed team', "artistic swimming women's duet",
       'Artistic swimming Team event', "athletics men's 100 metres",
       "athletics men's 200 metres", "athletics men's 400 metres",
       "athletics men's 800 metres", "athletics men's 1500 metres",
       "athletics men's 5000 metres", "athletics men's 10,000 metres",
       "athletics men's 110 metres hurdles",
       "athletics men's 400 metres hurdles",
       "athletics men's 3000 metres steeplechase",
       "athletics men's 4 × 100 metres relay",
       "athletics men's 4 × 400 metres relay", "athletics men's marathon",
       "athletics men's 20 kilometres walk", "athletics men's high jump",
       "athletics men's pole vault", "athletics men's long jump",
       "athletics men's triple jump", "athletics men's shot put",
       "athletics men's discus throw", "athletics men's hammer throw",
       "athletics men's javelin throw", "athletics men's decathlon",
       "athletics women's 100 metres", "athletics women's 200 metres",
       "athletics women's 400 metres", "athletics women's 800 metres",
       "athletics women's 1500 metres", "athletics women's 5000 metres",
       "athletics women's 10,000 metres",
       "athletics women's 100 metres hurdles",
       "athletics women's 400 metres hurdles",
       "athletics women's 3000 metres steeplechase",
       "athletics women's 4 × 100 metres relay",
       "athletics women's 4 × 400 metres relay",
       "athletics women's marathon",
       "athletics women's 20 kilometres walk",
       "athletics women's high jump", "athletics women's pole vault",
       "athletics women's long jump", "athletics women's triple jump",
       "athletics women's shot put", "athletics women's discus throw",
       "athletics women's hammer throw",
       "athletics women's javelin throw", "athletics women's heptathlon",
       'athletics mixed 4 × 400 metres relay',
       'athletics mixed marathon walk relay', "badminton men's singles",
       "badminton men's doubles", "badminton women's singles",
       "badminton women's doubles", 'badminton mixed doubles',
       "basketball men's tournament", "basketball women's tournament",
       "basketball men's 3x3 tournament",
       "basketball women's 3x3 tournament", "Boxing Men's 51 kg",
       "Boxing Men's featherweight", "Boxing Men's 63.5 kg",
       "Boxing Men's 71 kg", "Boxing Men's 80 kg", "Boxing Men's 92 kg",
       "Boxing Men's +92 kg", "Boxing Women's 50 kg",
       "Boxing Women's 54 kg", "Boxing Women's 57 kg",
       "Boxing Women's 60 kg", "Boxing Women's 66 kg",
       "Boxing Women's 75 kg", 'Breaking B-Boys', 'Breaking B-Girls',
       "Canoeing Men's slalom C-1", "Canoeing Men's slalom K-1",
       "canoeing Men's slalom kayak cross", "canoeing women's slalom C-1",
       "Canoeing Women's slalom K-1",
       "canoeing Women's slalom kayak cross",
       "canoeing men's C-1 1000 metres", "Canoeing Men's C-2 500 metres",
       "Canoeing Men's K-1 1000 metres", "canoeing men's K-2 500 metres",
       "Canoeing Men's K-4 500 metres", "canoeing women's C-1 200 metres",
       "Canoeing Women's C-2 500 metres",
       "canoeing women's K-1 500 metres",
       "Canoeing Women's K-2 500 metres",
       "Canoeing Women's K-4 500 metres",
       "cycling men's individual road race",
       "cycling men's individual time trial",
       "cycling Women's individual road race",
       "cycling women's individual time trial", "cycling men's sprint",
       "cycling men's team sprint", "cycling men's keirin",
       "cycling men's madison", "cycling men's omnium",
       "cycling men's team pursuit", "cycling women's sprint",
       "cycling women's team sprint", "cycling women's keirin",
       "cycling women's madison", "cycling women's omnium",
       "cycling women's team pursuit", "cycling men's cross-country",
       "cycling women's cross-country",
       "cycling at the 2020 Summer Olympics – men's BMX race",
       "cycling women's BMX race", "cycling men's BMX freestyle",
       "cycling women's BMX freestyle",
       "Diving Men's 3 metre springboard",
       "Diving Men's 10 metre platform",
       "Diving Men's synchronized 3 metre springboard",
       "Diving Men's synchronized 10 metre platform",
       "Diving Women's 3 metre springboard",
       "Diving Women's 10 metre platform",
       "diving Women's synchronized 3 metre springboard",
       "Diving Women's synchronized 10 metre platform",
       'equestrian individual dressage', 'equestrian team dressage',
       'equestrian individual eventing', 'equestrian team eventing',
       'equestrian individual jumping', 'equestrian team jumping',
       "fencing men's épée", "fencing men's team épée",
       "fencing men's foil", "fencing men's team foil",
       "fencing men's sabre", "fencing men's team sabre",
       "fencing women's épée", "fencing women's team épée",
       "fencing women's foil", "fencing women's team foil",
       "fencing women's sabre", "fencing women's team sabre",
       "field hockey men's tournament", "field hockey women's tournament",
       "football men's tournament", "football women's tournament",
       "Golf Men's individual", "Golf Women's individual",
       "gymnastics men's artistic team all-around",
       "gymnastics men's artistic individual all-around",
       "gymnastics men's floor", "gymnastics men's pommel horse",
       "gymnastics men's rings", "gymnastics men's vault",
       "gymnastics men's parallel bars",
       "gymnastics men's horizontal bar",
       "gymnastics women's artistic team all-around",
       "gymnastics women's artistic individual all-around",
       "gymnastics women's vault", "gymnastics women's uneven bars",
       "gymnastics women's balance beam", "gymnastics women's floor",
       "gymnastics women's rhythmic group all-around",
       "gymnastics women's rhythmic individual all-around",
       "gymnastics men's trampoline", "Gymnastics Women's trampoline",
       "handball men's tournament", "handball women's tournament",
       "judo men's 60 kg", "judo men's 66 kg", "judo men's 73 kg",
       "judo men's 81 kg", "judo men's 90 kg", "judo men's 100 kg",
       "judo men's +100 kg", "judo women's 48 kg", "judo women's 52 kg",
       "judo women's 57 kg", "judo women's 63 kg", "judo women's 70 kg",
       "judo women's 78 kg", "judo women's +78 kg",
       'judo mixed team event', "modern pentathlon men's",
       "modern pentathlon women's", "rowing men's single sculls",
       "rowing men's double sculls", "rowing men's quadruple sculls",
       "rowing men's pair", "rowing men's four", "rowing men's eight",
       "rowing men's lightweight double sculls",
       "rowing women's single sculls", "rowing women's double sculls",
       "rowing women's quadruple sculls", "rowing women's pair",
       "rowing women's four", "rowing women's eight",
       "rowing women's lightweight double sculls",
       "rugby sevens men's tournament", "rugby sevens Women's tournament",
       "sailing men's IQFoil", "sailing men's Formula Kite",
       'sailing Laser', 'sailing 49er', "sailing women's IQFoil",
       "sailing women's Formula Kite", 'sailing Laser Radial',
       'sailing 49er FX', 'sailing 470', 'sailing Nacra 17',
       "shooting men's 10 metre air pistol",
       "shooting men's 25 metre rapid fire pistol",
       'shooting at the 2024 Summer Olympics',
       "shooting men's 50 metre rifle three positions",
       "shooting men's skeet", "shooting men's trap",
       "shooting women's 10 metre air pistol",
       "shooting women's 25 metre pistol",
       "shooting women's 10 metre air rifle",
       "shooting women's 50 metre rifle three positions",
       "shooting women's skeet", "shooting women's trap",
       'shooting mixed 10 metre air pistol team',
       'shooting mixed 10 metre air rifle team',
       'shooting mixed skeet team',
       'sport climbing at the 2024 Summer Olympics',
       "sport climbing men's speed", "Sport climbing Women's combined",
       "Sport climbing Women's speed", "Surfing Men's shortboard",
       "Surfing Women's shortboard", "Swimming Men's 50 metre freestyle",
       "swimming men's 100 metre freestyle",
       "swimming men's 200 metre freestyle",
       "swimming men's 400 metre freestyle",
       "Swimming Men's 800 metre freestyle",
       "swimming men's 1500 metre freestyle",
       "swimming men's 100 metre backstroke",
       "Swimming Men's 200 metre backstroke",
       "swimming men's 100 metre breaststroke",
       "Swimming Men's 200 metre breaststroke",
       "swimming men's 100 metre butterfly",
       "swimming men's 200 metre butterfly",
       "swimming men's 200 metre individual medley",
       "Swimming Men's 400 metre individual medley",
       "swimming men's 4 × 100 metre freestyle relay",
       "swimming men's 4 × 200 metre freestyle relay",
       "swimming men's 4 × 100 metre medley relay",
       "swimming men's marathon 10 kilometre",
       "swimming women's 50 metre freestyle",
       "Swimming Women's 100 metre freestyle",
       "Swimming Women's 200 metre freestyle",
       "Swimming Women's 400 metre freestyle",
       "swimming women's 800 metre freestyle",
       "Swimming Women's 1500 metre freestyle",
       "Swimming Women's 100 metre backstroke",
       "swimming women's 200 metre backstroke",
       "swimming women's 100 metre breaststroke",
       "swimming women's 200 metre breaststroke",
       "Swimming Women's 100 metre butterfly",
       "swimming women's 200 metre butterfly",
       "swimming women's 200 metre individual medley",
       "Swimming Women's 400 metre individual medley",
       "swimming women's 4 × 100 metre freestyle relay",
       "swimming women's 4 × 200 metre freestyle relay",
       "swimming women's 4 × 100 metre medley relay",
       "swimming women's marathon 10 kilometre",
       'swimming mixed 4 × 100 metre medley relay',
       "table tennis men's singles", "table tennis men's team",
       "table tennis women's singles", "table tennis women's team",
       'Table tennis Mixed doubles', "taekwondo men's 58 kg",
       "taekwondo men's 68 kg", "taekwondo men's 80 kg",
       "taekwondo men's +80 kg", "taekwondo women's 49 kg",
       "taekwondo women's 57 kg", "taekwondo women's 67 kg",
       "taekwondo women's +67 kg", "Tennis Men's singles",
       "Tennis Men's doubles", "Tennis Women's singles",
       "Tennis Women's doubles", 'Tennis Mixed doubles',
       'triathlon at the 2024 Summer Olympics', "triathlon Women's",
       'Triathlon Mixed relay', "beach volleyball men's tournament",
       "beach volleyball women's tournament",
       "volleyball men's tournament", "volleyball women's tournament",
       "water polo men's tournament", "water polo women's tournament",
       "Weightlifting Men's 61 kg", "Weightlifting Men's 73 kg",
       "Weightlifting Men's 89 kg", "Weightlifting Men's 102 kg",
       "Weightlifting Men's +102 kg", "Weightlifting Women's 49 kg",
       "Weightlifting Women's 59 kg", "Weightlifting Women's 71 kg",
       "Weightlifting Women's 81 kg", "Weightlifting Women's +81 kg",
       "wrestling men's freestyle 57 kg",
       "wrestling men's freestyle 65 kg",
       "wrestling men's freestyle 74 kg",
       "wrestling men's freestyle 86 kg",
       "wrestling men's freestyle 97 kg",
       "wrestling men's freestyle 125 kg",
       "Wrestling Men's Greco-Roman 60 kg",
       "wrestling men's Greco-Roman 67 kg",
       "Wrestling Men's Greco-Roman 77 kg",
       "wrestling men's Greco-Roman 87 kg",
       "wrestling men's Greco-Roman 97 kg",
       "wrestling men's Greco-Roman 130 kg",
       "wrestling women's freestyle 50 kg",
       "Wrestling Women's freestyle 53 kg",
       "wrestling women's freestyle 57 kg",
       "wrestling women's freestyle 62 kg",
       "wrestling women's freestyle 68 kg",
       "wrestling women's freestyle 76 kg"], dtype=object)

In [10]:
# Checking to see all the 'event_part_of_sport' values so we know what the match the event_name with missing values to.
medalists['event_part_of_sport'].unique()

array(['archery', 'synchronized swimming', 'Unknown', 'athletics',
       'badminton', 'basketball', 'boxing', 'breakdance',
       'canoeing and kayaking', 'cycle sport', 'diving',
       'equestrian sport', 'fencing', 'field hockey',
       'association football', 'golf', 'artistic gymnastics',
       'rhythmic gymnastics', 'trampoline gymnastics', 'handball', 'judo',
       'modern pentathlon', 'rowing', 'rugby sevens', 'sailing',
       'shooting sport', 'multi-sport event', 'sport climbing', 'surfing',
       'swimming', 'table tennis', 'taekwondo', 'tennis', 'triathlon',
       'volleyball', 'water polo', 'weightlifting', 'wrestling'],
      dtype=object)

In [11]:
missing_part_of_sport['event_name'].unique()

array(['Artistic swimming Team event', "cycling men's keirin",
       "cycling men's madison", "cycling men's omnium",
       "cycling men's team pursuit", "cycling women's keirin",
       "cycling women's madison", "cycling women's omnium",
       "cycling women's team pursuit"], dtype=object)

In [12]:
# If-elif is only used for single boolean values. To replace certain values, we must use .loc.
medalists.loc[medalists['event_name'].str.contains('Artistic swimming', na=False), 'event_part_of_sport'] = 'synchronized swimming'
medalists.loc[medalists['event_name'].str.contains('cycling', na=False), 'event_part_of_sport'] = 'cycle sport'

In [13]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's individual,archery
1,Brady Ellison,silver,United States of America,27/10/1988,Glendale,33.583333,-112.2,male,Archery Men's individual,archery
2,Lee Woo-seok,bronze,South Korea,07/08/1997,Incheon,37.463889,126.648611,male,Archery Men's individual,archery
3,Kim Je-deok,gold,South Korea,12/04/2004,North Gyeongsang,36.25,128.75,male,Archery Men's team,archery
4,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,23/03/2003,Tokyo,35.689444,139.691667,female,wrestling women's freestyle 68 kg,wrestling
2198,Yuka Kagami,gold,Japan,14/09/2001,Yamagata,38.255417,140.339611,female,wrestling women's freestyle 76 kg,wrestling
2199,Kennedy Blades,silver,United States of America,04/09/2003,Unknown,Unknown,Unknown,female,wrestling women's freestyle 76 kg,wrestling
2200,Milaimys Marín,bronze,Cuba,16/03/2001,Unknown,Unknown,Unknown,female,wrestling women's freestyle 76 kg,wrestling
2201,Tatiana Rentería,bronze,Colombia,22/12/2000,Buenaventura,3.877222,-77.026667,female,wrestling women's freestyle 76 kg,wrestling

In [14]:
# There are no more 'unknowns' in the 'event_part_of_sport' columns.
medalists['event_part_of_sport'].unique()

array(['archery', 'synchronized swimming', 'athletics', 'badminton',
       'basketball', 'boxing', 'breakdance', 'canoeing and kayaking',
       'cycle sport', 'diving', 'equestrian sport', 'fencing',
       'field hockey', 'association football', 'golf',
       'artistic gymnastics', 'rhythmic gymnastics',
       'trampoline gymnastics', 'handball', 'judo', 'modern pentathlon',
       'rowing', 'rugby sevens', 'sailing', 'shooting sport',
       'multi-sport event', 'sport climbing', 'surfing', 'swimming',
       'table tennis', 'taekwondo', 'tennis', 'triathlon', 'volleyball',
       'water polo', 'weightlifting', 'wrestling'], dtype=object)

### Next we want to check the datatypes of each column and ensure that they are of the correct type.

In [15]:
# Right now, they are all 'objects'.
medalists.dtypes

medalist_name          object
medal                  object
country_medal          object
date_of_birth          object
place_of_birth         object
lat                    object
lon                    object
sex_or_gender          object
event_name             object
event_part_of_sport    object
dtype: object

In [16]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's individual,archery
1,Brady Ellison,silver,United States of America,27/10/1988,Glendale,33.583333,-112.2,male,Archery Men's individual,archery
2,Lee Woo-seok,bronze,South Korea,07/08/1997,Incheon,37.463889,126.648611,male,Archery Men's individual,archery
3,Kim Je-deok,gold,South Korea,12/04/2004,North Gyeongsang,36.25,128.75,male,Archery Men's team,archery
4,Kim Woo-jin,gold,South Korea,20/06/1992,Okcheon County,36.300833,127.568611,male,Archery Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,23/03/2003,Tokyo,35.689444,139.691667,female,wrestling women's freestyle 68 kg,wrestling
2198,Yuka Kagami,gold,Japan,14/09/2001,Yamagata,38.255417,140.339611,female,wrestling women's freestyle 76 kg,wrestling
2199,Kennedy Blades,silver,United States of America,04/09/2003,Unknown,Unknown,Unknown,female,wrestling women's freestyle 76 kg,wrestling
2200,Milaimys Marín,bronze,Cuba,16/03/2001,Unknown,Unknown,Unknown,female,wrestling women's freestyle 76 kg,wrestling
2201,Tatiana Rentería,bronze,Colombia,22/12/2000,Buenaventura,3.877222,-77.026667,female,wrestling women's freestyle 76 kg,wrestling

In [17]:
medalists['medal'] = medalists['medal'].astype('category')
medalists['country_medal'] = medalists['country_medal'].astype('category')
# As there are some athletes for which we do not know the DOB, these rows are filled with 'unknown'.
# These cannot be converted to datetime, so we can use 'coerce'.
medalists['date_of_birth'] = pd.to_datetime(medalists['date_of_birth'], format='%d/%m/%Y', errors='coerce')
medalists['lat'] = pd.to_numeric(medalists['lat'], errors='coerce')
medalists['lon'] = pd.to_numeric(medalists['lon'], errors='coerce')
medalists['sex_or_gender'] = medalists['sex_or_gender'].astype('category')
medalists['event_part_of_sport'] = medalists['event_part_of_sport'].astype('category')

In [18]:
medalists['country_medal'].unique()

['South Korea', 'United States of America', 'France', 'Turkey', 'People's Republic of China', ..., 'Guatemala', 'Chile', 'Iran', 'Ivory Coast', 'Albania']
Length: 90
Categories (90, object): ['Albania', 'Algeria', 'Argentina', 'Armenia', ..., 'United States of America', 'Unknown', 'Uzbekistan', 'Zambia']

In [19]:
# Checking to see if all the columns are of the correct datatype.
medalists.dtypes

medalist_name                  object
medal                        category
country_medal                category
date_of_birth          datetime64[ns]
place_of_birth                 object
lat                           float64
lon                           float64
sex_or_gender                category
event_name                     object
event_part_of_sport          category
dtype: object

In [20]:
medalists

,medalist_name,medal,country_medal,date_of_birth,place_of_birth,lat,lon,sex_or_gender,event_name,event_part_of_sport
0,Kim Woo-jin,gold,South Korea,1992-06-20,Okcheon County,36.300833,127.568611,male,Archery Men's individual,archery
1,Brady Ellison,silver,United States of America,1988-10-27,Glendale,33.583333,-112.200000,male,Archery Men's individual,archery
2,Lee Woo-seok,bronze,South Korea,1997-08-07,Incheon,37.463889,126.648611,male,Archery Men's individual,archery
3,Kim Je-deok,gold,South Korea,2004-04-12,North Gyeongsang,36.250000,128.750000,male,Archery Men's team,archery
4,Kim Woo-jin,gold,South Korea,1992-06-20,Okcheon County,36.300833,127.568611,male,Archery Men's team,archery
...,...,...,...,...,...,...,...,...,...,...
2197,Nonoka Ozaki,bronze,Japan,2003-03-23,Tokyo,35.689444,139.691667,female,wrestling women's freestyle 68 kg,wrestling
2198,Yuka Kagami,gold,Japan,2001-09-14,Yamagata,38.255417,140.339611,female,wrestling women's freestyle 76 kg,wrestling
2199,Kennedy Blades,silver,United States of America,2003-09-04,Unknown,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2200,Milaimys Marín,bronze,Cuba,2001-03-16,Unknown,NaN,NaN,female,wrestling women's freestyle 76 kg,wrestling
2201,Tatiana Rentería,bronze,Colombia,2000-12-22,Buenaventura,3.877222,-77.026667,female,wrestling women's freestyle 76 kg,wrestling

In [22]:
from datetime import datetime

today = datetime.today()
medalists['age'] = today.year - medalists['date_of_birth'].dt.year - ((today.month, today.day) < (medalists['date_of_birth'].dt.month, medalists['date_of_birth'].dt.day))
# ((today.month, today.day) < (medalists['date_of_birth'].dt.month, medalists['date_of_birth'].dt.day))
# This compares today's month and date with the medalist's bday month and date. 
# If today's date is less than the participant's bday, then their bday hasn't happened yet so the statement will be True and we subtract 1.

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [21]:
medalists.to_csv('medalists_cleaned.csv')